@import "tailwindcss";

/* font variables → classes */
.font-body {
  font-family: var(--font-inter);
}

.font-heading {
  font-family: var(--font-poppins);
}

.font-logo {
  font-family: var(--font-orbitron);
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}